# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Serverless
.serverless/
.requirements/
.requirements.zip

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
